<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<%- include('partials/head') %>
</head>
<body>
<%- include('partials/pagination') %>
 
<div class="row row-cols-1 row-cols-md-3 ">
  <div class="col mb-4" >
   <div class="card h-100" >
      <img src="img/cerrolaspavas.png" height="400" class="card-img-top animated bounceIn" alt="cerrolaspavas">
      <a class="btn btn-info"  href="#" role="button">Leer Más</a>
      <div class="card-body">
        <h5 class="card-title animated wobble">Cerro de Las Pavas</h5>
        <p class="card-text animated wobble">Actualmente goza de un clima fresco gracias al pequeño bosque que le cubre, además goza de fascinantes vistas al Lago de Ilopango y al imponente volcán de San Vicente, popularmente conocido como “Chinchontepec” que podrá apreciar a lo largo de sus senderos.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
   <div class="card h-100">
      <img src="img/boqueron.png" height="400" class="card-img-top animated bounceIn" alt="elboqueron">
      <a class="btn btn-info"  href="#" role="button">Leer Más</a>
      <div class="card-body">
        <h5 class="card-title animated wobble">El Boqueron</h5>
        <p class="card-text animated wobble">El Boquerón es un área natural protegida que se encuentra en la parte superior del volcán de San Salvador a 1800 metros 5.905 pies (1800 metros) sobre el nivel del mar, parte del país centroamericano de El Salvador. La atracción principal del parque es un cráter de 1.5 kilómetros de diámetro y 558 metros de profundidad. Además hay un pequeño cráter en el cráter principal llamado "Boqueroncito" (en referencia al cráter Boquerón).</p>
     
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="img/principito.png" height="400"class="card-img-top animated bounceIn" alt="elprincipito">
      <a class="btn btn-info"  href="#" role="button">Leer Más</a>
      <div class="card-body">
        <h5 class="card-title animated wobble">Parque temático El Principito</h5>
        <p class="card-text animated wobble">El Parque El Principito  es  un lugar ideal para pasar una tarde con tu familia y hacer un poco de turismo local o bien si eres un extranjero que quiere conocer mas de la cultura urbana de nuestro hermoso El Salvador.<br><br>En el parque  se encuentra una parte de la extensa Ciclovía Monseñor Romero que conecta el parque hasta el Parque Bicentenario, lo que lo vuelve un lugar ideal para caminar y hacer ejercicio.</p>
      
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="img/lagocoatepeque.png" height="400" class="card-img-top animated bounceIn" alt="lagocoatepeque">
      <a class="btn btn-info" href="#" role="button">Leer Más</a>
      <div class="card-body">
        <h5 class="card-title animated wobble">Lago de Coatepeque</h5>
        <p class="card-text animated wobble">El lago Coatepeque es un lago de origen volcánico, situado a 18 km al sur de la ciudad de Santa Ana en el municipio de El Congo. Tiene una altitud de 745 msnm y una superficie de 25.3 km². Además, su profundidad de 115 m.​ Cuenta con una isla llamada la Isla del Cerro o Teopán.</p>
     
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="img/elzonte.png" height="400"class="card-img-top animated bounceIn" alt="elzonte">
      <a class="btn btn-info"  href="#" role="button">Leer Más</a>
      <div class="card-body">
        <h5 class="card-title animated wobble">El Zonte, La Libertad</h5>
        <p class="card-text animated wobble">¡Surfear en El Zonte es una visita obligada si planea visitar esta región! Es un lugar perfecto para principiantes y surfistas avanzados. Cuenta con dos hermosas playas con dos puntos principales de surf y entorno natural. A veces se pueden ver tortugas e incluso ballenas. Su zona de playas rocosas es perfecta para relajarse.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
   <div class="card h-100">
      <img src="img/lagunapastepeque.png" height="400"class="card-img-top animated bounceIn" alt="lagunapastepeque">
      <a class="btn btn-info"  href="#" role="button">Leer Más</a>
      <div class="card-body">
        <h5 class="card-title animated wobble">Laguna de Apastepeque</h5>
        <p class="card-text animated wobble">La laguna de Apastepeque es de origen volcánico y se localiza a 64 kilómetros de San Salvador y a 15 minutos de la ciudad de San Vicente. Tiene una extensión de aproximadamente 1.5 kilómetros cuadrados y en su zona de mayor profundidad posee casi 100 metros. Sin embargo, todo su contorno es poco profundo y es ideal para disfrutar de un baño.</p>
     
      </div>
    </div>
  </div>
  
  
</div>






<%- include('partials/footer')%>
</body>
</html>