<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<%- include('partials/head') %>
</head>
<body>
	<%- include('partials/pagination') %>
	<div class="card mb-2" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="img/nodejs.png" class="card-img animated infinite bounce" alt="nodejs">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">NODE JS</h5>
        <p class="card-text">Node.js usa un modelo de operaciones E/S sin bloqueo y orientado a eventos, que lo hace liviano y eficiente. El ecosistema de paquetes de Node.js, npm, es el ecosistema más grande de librerías de código abierto en el mundo. por esta razon se utilizo para la creacion de un servidor web y en la creacion controladores y rutas</p>
        <p class="card-text"><small class="text-muted">npm,express,morgan,path,nodemon</small></p>
      </div>
    </div>
  </div>
  <div class="row no-gutters" class="animated infinite bounce">
    <div class="col-md-4">
      <img src="img/bootstrap.png" class="card-img animated infinite bounce"  alt="nodejs">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" >BOOTSTRAP</h5>
        <p class="card-text">se utilizo bootstrap para la creacion de plantillas diseñadas para mostrar la informacion y las imagenes</p>
        <p class="card-text"><small class="text-muted">card,navbar</small></p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer')%>
</body>
</html>