<footer id="about" class="bg-light text-center p-2">
  <p class="h4">ALBERTO MURCIA-2020</p>
  <h2>contactos</h2>
        <a href="https://www.facebook.com/albertomurcia466/" class="fa fa-facebook"></a>
         <a href="https://www.linkedin.com/in/carlos-murcia-9921a3159/" class="fa fa-linkedin"></a>
         <a href="https://www.instagram.com/albertomurcia_/?hl=es-la" class="fa fa-instagram"></a>
</footer>
